/*
Ben Comroe on Stack Overflow
https://stackoverflow.com/questions/35505071/bottom-border-on-bootstrap-row
*/
.row-bordered {
    position: relative;
  }
  
  .row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  #backgroundContainer {
    background-image: url('pexels-felix-mittermeier-956999.jpg');
    padding-top: 90px;
    min-height: calc(100vh - 120px);
  }